name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'  # se ejecuta cuando subas un tag tipo v0.1.1

jobs:
  release:
    runs-on: windows-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependencias
        run: npm ci

      - name: Compilar y publicar en GitHub Releases
        run: |
          npx electron-builder --win nsis --publish always
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
